Flujo Alertas Fichas Suspendidas (CEAM).json
{
  "name": "Alertas Fichas Suspendidas — CEAM Auditor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1"
            }
          ]
        }
      },
      "id": "trigger-lun-730",
      "name": "⏰ Lunes 07:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Despachar tarea Celery de scraping de fichas\nconst API_URL = 'https://api-auditor.sekaitech.com.pe';\n\nlet result;\ntry {\n  result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: API_URL + '/api/v1/scraper/fichas/start?agreement_code=EXT-CE-2022-5',\n    headers: { 'Accept': 'application/json' },\n    json: true,\n    timeout: 15000\n  });\n  if (typeof result === 'string') result = JSON.parse(result);\n} catch(e) {\n  return [{ json: { error: true, message: e.message } }];\n}\n\nif (!result.task_id) {\n  return [{ json: { error: true, message: result.error || 'No se recibio task_id del backend' } }];\n}\n\nreturn [{ json: result }];\n"
      },
      "id": "http-start-fichas",
      "name": "🚀 Iniciar Scraper Fichas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-start-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-start-error",
      "name": "❓ ¿Error al iniciar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Polling de estado hasta que la tarea Celery termine (SUCCESS o FAILURE)\n// Tiempo maximo: 16 intentos x 60s = ~16 minutos\nconst API_URL = 'https://api-auditor.sekaitech.com.pe';\nconst task_id = $input.first().json.task_id;\nconst MAX_ATTEMPTS = 16;\nconst WAIT_MS = 60000;\n\nlet lastResp = { status: 'TIMEOUT', error: 'La tarea supero el tiempo maximo de espera (16 minutos)' };\n\nfor (let i = 0; i < MAX_ATTEMPTS; i++) {\n  await new Promise(resolve => setTimeout(resolve, WAIT_MS));\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: API_URL + '/api/v1/scraper/status/' + task_id,\n      headers: { 'Accept': 'application/json' },\n      json: true,\n      timeout: 15000\n    });\n    lastResp = (typeof resp === 'string') ? JSON.parse(resp) : resp;\n    const st = lastResp.status;\n    if (st === 'SUCCESS' || st === 'FAILURE') break;\n  } catch(e) {\n    lastResp = { status: 'FAILURE', error: e.message };\n    break;\n  }\n}\n\nreturn [{ json: lastResp }];\n"
      },
      "id": "poll-estado",
      "name": "🔄 Esperar y Verificar Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "✅ ¿Completó con éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Notificar error via Evolution API\nconst EVOLUTION_URL      = 'https://evolution.sekaitech.com.pe';\nconst EVOLUTION_API_KEY  = '6mF28RqtJdPIZorVIbAaRBiKZoZr3a5t4d9jikNna7c=';\nconst EVOLUTION_INSTANCE = 'sekaitech';\nconst GROUP_JID          = '120363423813951789@g.us';\n\nconst inp = $input.item.json;\nconst errorMsg = inp.message || inp.error || 'Error desconocido';\nconst ahora = new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' });\n\nconst texto = [  '\\u26a0\\ufe0f *ERROR \\u2014 CEAM Auditor Scraper (Fichas)*',  '\\ud83d\\uddd3\\ufe0f ' + ahora,  '\\u2500'.repeat(34),  'El proceso de extraccion de catalogo fallo.',  '',  'Error: ' + errorMsg,  '',  'Revisa los logs en el contenedor del backend.'].join('\\n');\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: EVOLUTION_URL + '/message/sendText/' + EVOLUTION_INSTANCE,\n    headers: { 'apikey': EVOLUTION_API_KEY, 'Content-Type': 'application/json' },\n    body: { number: GROUP_JID, text: texto },\n    json: true,\n    timeout: 10000\n  });\n} catch(e) {}\n\nreturn [{ json: { notified: true, error: String(errorMsg) } }];\n"
      },
      "id": "notificar-error",
      "name": "🆘 Notificar Error Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir mensajes agrupados por marca desde deltas_suspendidas\n// El resultado Celery viene en: .result.deltas_suspendidas\nconst data = $input.first().json;\nconst deltas = (data.result && data.result.deltas_suspendidas) ? data.result.deltas_suspendidas : [];\n\nif (!deltas || deltas.length === 0) {\n  return [{ json: { hayAlertas: 'false', mensajes: [], total: 0 } }];\n}\n\nconst sep = '\\u2500'.repeat(30);\nconst totalSuspendidas = deltas.length;\n\n// Agrupar por marca\nconst byMarca = {};\nfor (const f of deltas) {\n  const marca = (f.marca || 'OTRAS').toUpperCase();\n  if (!byMarca[marca]) byMarca[marca] = [];\n  byMarca[marca].push(f);\n}\n\nconst partes = [\n  '\\u26a0\\ufe0f *ALERTAS DE CATALOGO: FICHAS SUSPENDIDAS*',\n  '\\ud83d\\uddd3\\ufe0f ' + new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' }),\n  sep,\n  '\\ud83d\\udea8 El escaner detecto ' + totalSuspendidas + ' ficha(s) suspendida(s):'\n];\n\nfor (const [marca, fichas] of Object.entries(byMarca)) {\n  partes.push('\\n\\ud83c\\udfec *MARCA: ' + marca + '*');\n  fichas.forEach(function(f, i) {\n    partes.push('   \\u274c *' + (i + 1) + '.* P/N: *' + f.nro_parte + '*');\n    if (f.descripcion) partes.push('      \\u21b3 ' + f.descripcion);\n  });\n}\n\npartes.push('\\n' + sep + '\\n\\ud83e\\udd16 _CEAM Auditor Automatico_');\n\nreturn [{ json: { hayAlertas: 'true', mensajes: [partes.join('\\n')], total: totalSuspendidas } }];\n"
      },
      "id": "build-message",
      "name": "📝 Construir Mensaje de Marcas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-hay-alertas-fichas",
              "leftValue": "={{ $json.hayAlertas }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hay-alertas",
      "name": "❓ ¿Hubo Cambios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        350
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensajes",
        "options": {
          "destinationFieldName": "mensaje"
        }
      },
      "id": "splitout-mensajes",
      "name": "✂️ Dividir Mensajes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "wait-node",
      "name": "⏳ Esperar 1.5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1950,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ENVIAR VIA EVOLUTION API -> GRUPO WHATSAPP CEAM\nconst EVOLUTION_URL      = 'https://evolution.sekaitech.com.pe';\nconst EVOLUTION_API_KEY  = '6mF28RqtJdPIZorVIbAaRBiKZoZr3a5t4d9jikNna7c=';\nconst EVOLUTION_INSTANCE = 'sekaitech';\nconst GROUP_JID          = '120363423813951789@g.us';\n\nlet results = [];\n\nfor (const item of $input.all()) {\n  const mensaje = item.json.mensaje || '';\n  if (!mensaje) continue;\n\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: EVOLUTION_URL + '/message/sendText/' + EVOLUTION_INSTANCE,\n      headers: { 'apikey': EVOLUTION_API_KEY, 'Content-Type': 'application/json' },\n      body: { number: GROUP_JID, text: mensaje },\n      json: true,\n      timeout: 15000\n    });\n    results.push({ json: { success: true, key: r.key } });\n    await new Promise(resolve => setTimeout(resolve, 1500));\n  } catch(e) {\n    results.push({ json: { success: false, error: e.message } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "send-wa",
      "name": "📲 Enviar a WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2150,
        200
      ]
    },
    {
      "parameters": {},
      "id": "noop-node",
      "name": "🔕 Sin Cambios (OK)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1750,
        450
      ]
    }
  ],
  "connections": {
    "⏰ Lunes 07:30 AM": {
      "main": [
        [
          {
            "node": "🚀 Iniciar Scraper Fichas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Iniciar Scraper Fichas": {
      "main": [
        [
          {
            "node": "❓ ¿Error al iniciar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ ¿Error al iniciar?": {
      "main": [
        [
          {
            "node": "🆘 Notificar Error Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Esperar y Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Esperar y Verificar Estado": {
      "main": [
        [
          {
            "node": "✅ ¿Completó con éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Completó con éxito?": {
      "main": [
        [
          {
            "node": "📝 Construir Mensaje de Marcas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🆘 Notificar Error Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Construir Mensaje de Marcas": {
      "main": [
        [
          {
            "node": "❓ ¿Hubo Cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ ¿Hubo Cambios?": {
      "main": [
        [
          {
            "node": "✂️ Dividir Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔕 Sin Cambios (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✂️ Dividir Mensajes": {
      "main": [
        [
          {
            "node": "⏳ Esperar 1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Esperar 1.5s": {
      "main": [
        [
          {
            "node": "📲 Enviar a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}