Flujo Alertas Fichas Suspendidas (CEAM).json
{
  "name": "Alertas Fichas Suspendidas — CEAM Auditor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1"
            }
          ]
        }
      },
      "id": "trigger-lun-730",
      "name": "⏰ Lunes 07:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api-auditor.sekaitech.com.pe/api/v1/fichas/alertas-suspendidas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "acuerdo_marco",
              "value": "EXT-CE-2022-5"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-scraper",
      "name": "🌐 Ejecutar Scraper CEAM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-api-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error-api",
      "name": "🔍 ¿Error Scraper?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Notificar error via Evolution API\nconst EVOLUTION_URL      = 'https://evolution.sekaitech.com.pe';\nconst EVOLUTION_API_KEY  = '6mF28RqtJdPIZorVIbAaRBiKZoZr3a5t4d9jikNna7c=';\nconst EVOLUTION_INSTANCE = 'sekaitech';\nconst GROUP_JID          = '120363423813951789@g.us';\n\nconst inp = $input.item.json;\nconst errorMsg = inp.message || inp.error || 'Error desconocido';\nconst ahora = new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' });\n\nconst lines = [];\nlines.push('\\u26a0\\ufe0f *ERROR \\u2014 CEAM Auditor Scraper (Fichas)*');\nlines.push('\\ud83d\\uddd3\\ufe0f ' + ahora);\nlines.push('\\u2500'.repeat(34));\nlines.push('El proceso de extraccion de catalogo fallo.');\nlines.push('');\nlines.push('Error: ' + errorMsg);\nlines.push('');\nlines.push('Revisa los logs en el contenedor del backend.');\nconst texto = lines.join('\\n');\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: EVOLUTION_URL + '/message/sendText/' + EVOLUTION_INSTANCE,\n    headers: { 'apikey': EVOLUTION_API_KEY, 'Content-Type': 'application/json' },\n    body: { number: GROUP_JID, text: texto },\n    json: true,\n    timeout: 10000\n  });\n} catch(e) {}\n\nreturn [{ json: { notified: true, error: String(errorMsg) } }];\n"
      },
      "id": "notificar-error",
      "name": "🆘 Notificar Error Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir mensajes agrupados por marca\nconst data = $input.first().json;\n\n// El endpoint sincrono devuelve: { hayAlertas, total_suspendidas, datos, resumen }\nconst hayAlertas = data.hayAlertas;\nconst datos = data.datos || {};\nconst resumen = data.resumen || {};\nconst marcas = Object.keys(datos);\n\nif (!hayAlertas || marcas.length === 0) {\n  return [{ json: { hayAlertas: 'false', mensajes: [], total: 0 } }];\n}\n\nconst sep = '\\u2500'.repeat(30);\nlet totalSuspendidas = data.total_suspendidas || 0;\n\nconst partes = [];\npartes.push('\\u26a0\\ufe0f *ALERTAS DE CATALOGO: FICHAS SUSPENDIDAS*');\npartes.push('\\ud83d\\uddd3\\ufe0f ' + new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' }));\npartes.push(sep);\npartes.push('\\ud83d\\udea8 El escaner detecto ' + totalSuspendidas + ' ficha(s) suspendida(s):');\n\nfor (const marca of marcas) {\n  const fichas = datos[marca];\n  let infoResumen = '';\n  if (resumen[marca] && resumen[marca].ofertadas_actuales !== undefined) {\n    infoResumen = ' (Quedan ' + resumen[marca].ofertadas_actuales + ' ofertadas)';\n  }\n  partes.push('\\n\\ud83c\\udfec *MARCA: ' + marca + '*' + infoResumen);\n  fichas.forEach(function(f, i) {\n    partes.push('   \\u274c *' + (i + 1) + '.* P/N: *' + f.nro_parte + '*');\n    if (f.descripcion) partes.push('      \\u21b3 ' + f.descripcion);\n  });\n}\n\npartes.push('\\n' + sep);\npartes.push('\\ud83e\\udd16 _CEAM Auditor Automatico_');\n\nreturn [{ json: { hayAlertas: 'true', mensajes: [partes.join('\\n')], total: totalSuspendidas } }];\n"
      },
      "id": "build-message",
      "name": "📝 Construir Mensaje de Marcas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-hay-alertas-fichas",
              "leftValue": "={{ $json.hayAlertas }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hay-alertas",
      "name": "❓ ¿Hubo Cambios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensajes",
        "options": {
          "destinationFieldName": "mensaje"
        }
      },
      "id": "splitout-mensajes",
      "name": "✂️ Dividir Mensajes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1250,
        50
      ]
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "wait-node",
      "name": "⏳ Esperar 1.5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1450,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "// ENVIAR VIA EVOLUTION API -> GRUPO WHATSAPP CEAM\nconst EVOLUTION_URL      = 'https://evolution.sekaitech.com.pe';\nconst EVOLUTION_API_KEY  = '6mF28RqtJdPIZorVIbAaRBiKZoZr3a5t4d9jikNna7c=';\nconst EVOLUTION_INSTANCE = 'sekaitech';\nconst GROUP_JID          = '120363423813951789@g.us';\n\nlet results = [];\n\nfor (const item of $input.all()) {\n  const mensaje = item.json.mensaje || '';\n  if (!mensaje) continue;\n\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: EVOLUTION_URL + '/message/sendText/' + EVOLUTION_INSTANCE,\n      headers: { 'apikey': EVOLUTION_API_KEY, 'Content-Type': 'application/json' },\n      body: { number: GROUP_JID, text: mensaje },\n      json: true,\n      timeout: 15000\n    });\n    results.push({ json: { success: true, key: r.key } });\n    await new Promise(resolve => setTimeout(resolve, 1500));\n  } catch(e) {\n    results.push({ json: { success: false, error: e.message } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "send-wa",
      "name": "📲 Enviar a WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        50
      ]
    },
    {
      "parameters": {},
      "id": "noop-node",
      "name": "🔕 Sin Cambios (OK)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    }
  ],
  "connections": {
    "⏰ Lunes 07:30 AM": {
      "main": [
        [
          {
            "node": "🌐 Ejecutar Scraper CEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Ejecutar Scraper CEAM": {
      "main": [
        [
          {
            "node": "🔍 ¿Error Scraper?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 ¿Error Scraper?": {
      "main": [
        [
          {
            "node": "🆘 Notificar Error Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Construir Mensaje de Marcas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Construir Mensaje de Marcas": {
      "main": [
        [
          {
            "node": "❓ ¿Hubo Cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ ¿Hubo Cambios?": {
      "main": [
        [
          {
            "node": "✂️ Dividir Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔕 Sin Cambios (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✂️ Dividir Mensajes": {
      "main": [
        [
          {
            "node": "⏳ Esperar 1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Esperar 1.5s": {
      "main": [
        [
          {
            "node": "📲 Enviar a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}